/.idea/

**/target

/inventory-service.iml
/microservices-parent.iml
/order-service.iml
/product-service.iml
/inventory-service/inventory-service.iml

/service-discovery/.mvn/
/infra/mongo-data/
/infra/mysql_keycloak_data/
/infra/postgres-inventory/
/infra/postgres-order/
/infra/realms/
